@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --dark-grey: #2c2b30;
  --light-grey: #4f4f51;
  --lighter-grey: #d6d6d6;
  --pink: #f2c4ce;
  --salmon: #f58f7c;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

  height: 100vh;
  margin: 0;
  text-align: center;
  background-color: var(--dark-grey);
  color: var(--salmon);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 50px;
}

h2 {
  margin: 0;
  font-size: 5rem;
  text-shadow: 5px 5px var(--light-grey);
  font-family: "VT323", monospace;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.buttons {
  flex-direction: column;
  justify-content: space-around;
  padding-right: 100px;
}
.grid-size {
  flex-direction: column;
  justify-content: space-between;
  border: 10px solid var(--light-grey);
  border-radius: 6px;
  padding: 20px;
  width: 250px;
  height: 500px;
  background-color: var(--light-grey);
}
.color-text {
  font-size: 2;
}

h5,
p {
  margin-top: 10px;
}

h5 {
  font-size: 2rem;
  margin-bottom: 0;
  text-shadow: 2px 2px #000000;
}

#grid-size {
  font-size: 2em;
  text-shadow: 2px 2px #000000;
  letter-spacing: 2px;
  margin: 0;
}

.slider {
  -webkit-appearance: none;
  height: 2px;
  width: 220px;
}

.div-box {
  border: 1px solid hsla(0, 2%, 54%, 0.527);
}

.noBorder {
  border: none;
}

.div-container {
  display: inline-grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 600px;
  width: 600px;
  border: 7px solid var(--light-grey);
  background-color: white;
  margin-right: 12rem;
}

.slider {
  margin-bottom: 30px;
  margin-bottom: 50px;
}

.color-picker-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.color-text {
  margin-bottom: 35px;
  text-shadow: 2px 2px #000000;
  font-size: 1em;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.myName {
  margin: 0;
  text-shadow: 1px 1px var(--light-grey);
}

#rainbow {
  background-color: var(--salmon);
  width: 200px;
  font-weight: bold;
  margin-bottom: 0px;
}
#rainbow.true,
#gridToggle.true,
#shading.true {
  background-color: var(--pink);
  width: 200px;
  font-weight: bold;
}

#color-picker,
#bgcolor-picker {
  border: solid 1px var(--lighter-grey);
  background: none;
  border-radius: 1px;
  width: 60px;
  height: 30px;
  justify-items: center;
  padding: 0px;
}
input[type="color"] {
  -webkit-appearance: none;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: 0px;
}

#newSheet,
#shading,
#gridToggle,
#rainbow {
  background-color: var(--salmon);
  width: 200px;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 10px;
}

#newSheet:active,
#rainbow:active,
#gridToggle:active,
#shading:active {
  transform: translateY(2px);
  background-color: var(--pink);
}
